<%- include("../inclueds/head")  %>

<head>
<body>
<%- include("../inclueds/lower_header_auth")  %>

        <!-- //////////////////////////////////////////////////// -->
        <div class="signin">
            <div class="container">
                <%- include("../inclueds/notification")  %>
                <div class="row">
                    <div class="col-md-6">
                        <div class="right p-4 mb-3">
                            <h4>مرحبا بعودتك للموقع!</h4>
                            <br /> <br />

                            <form method="post">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">الايميل <span class="text-danger">*</span></label>
                                    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    <% if (validationError) { %>
                                        <% if (validationError.email) { %>
                                            <span class="text-danger"><%=validationError.email[0].msg %></span>
                                        <% } %>
                                    <% } %>                                
                                </div>
                                <div class="form-group pass_show">
                                    <label for="PASS">كلمة المرور <span class="text-danger">*</span></label>
                                    <input type="password" name="password" class="form-control" id="PASS">
                                    <% if (validationError) { %>
                                        <% if (validationError.password) { %>
                                            <span class="text-danger"><%=validationError.password[0].msg %></span>
                                        <% } %>
                                    <% } %>
                                </div>

                                <div class="form-group form-check">
                                    <input type="checkbox" name="rememberMe" value="1" class="form-check-input" id="exampleCheck1">
                                    <label class="form-check-label" for="exampleCheck1">تذكرنى</label>
                                </div>
                                <button type="submit" class="btn btn-primary">تسجيل الدخول</button>
                            </form>

                            <p class="mb-0 mt-2">
                                ليس لديك حساب؟ <a href="signUp">سجل هنا</a>
                            </p>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="left">
                            <img src="/frontEnd/assets/img/login.svg" class="img-fluid" alt="0" />
                        </div>
                    </div>

                </div>

            </div>
        </div>
        
        <!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->

<%- include("../inclueds/footer_script")  %>
<%- include("../inclueds/footer")  %>
</body>
