<%- include("../inclueds/head")  %>

<head>
<body>
<%- include("../inclueds/uper_headerVendoer")  %> 
<!-- |||||||||||||||||||||||||||||||||||||||||||||||||||||| -->
<%- include("../inclueds/lowerVendoerNave")  %> 


    <!-- //////////////////////////////////////////////////// -->
    <div class="trader-home">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="right">
                        <div>
                            <h2>2134 SAR</h2>
                            <h4>الرصيد</h4>
                        </div>
                    </div>
                </div>

                 <div class="col-md-6">
                    <div class="left">
                        <div>
                            <h2>820</h2>
                            <h4>الطلبات المكتملة</h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <h2 class="title"><span>طلبات جديدة</span> <a class="float-right" href="#">اظهار الكل <i class="fas fa-chevron-left"></i></a></h2>
                </div>
            </div>

            <div class="row box mt-4">
                <div class="col-md-1 text-center">
                    <img src="/frontEnd/assets/img/car2.svg" alt="0" />
                </div>
                <div class="col-md-11">
                    <h5>
                        اسم الطلب يكتب هنا
                        <span class="float-right date">التاريخ: 27-09-2020 <br/>رقم الطلب: #2251425</span>
                    </h5>
                    <p>
                        <span>السعر: </span> <span class="main-color">50.00 SAR</span>
                    </p>
                    <a href="#" class="mb-2 btn btn-custom">مرشح رذاذ البنزين</a>
                    <a href="#" class="mb-2 btn btn-custom">فلتر الزيت الخلفي</a>
                    <a href="#" class="mb-2 btn btn-custom2">+2</a>
                </div>
            </div>

            <div class="row box mt-4">
                <div class="col-md-1 text-center">
                    <img src="/frontEnd/assets/img/car2.svg" alt="0" />
                </div>
                <div class="col-md-11">
                    <h5>
                        اسم الطلب يكتب هنا
                        <span class="float-right date">التاريخ: 27-09-2020 <br/>رقم الطلب: #2251425</span>
                    </h5>
                    <p>
                        <span>السعر: </span> <span class="main-color">50.00 SAR</span>
                    </p>
                    <a href="#" class="mb-2 btn btn-custom">مرشح رذاذ البنزين</a>
                    <a href="#" class="mb-2 btn btn-custom">فلتر الزيت الخلفي</a>
                    <a href="#" class="mb-2 btn btn-custom2">+2</a>
                </div>
            </div>

            <div class="row box mt-4">
                <div class="col-md-1 text-center">
                    <img src="/frontEnd/assets/img/car2.svg" alt="0" />
                </div>
                <div class="col-md-11">
                    <h5>
                        اسم الطلب يكتب هنا
                        <span class="float-right date">التاريخ: 27-09-2020 <br/>رقم الطلب: #2251425</span>
                    </h5>
                    <p>
                        <span>السعر: </span> <span class="main-color">50.00 SAR</span>
                    </p>
                    <a href="#" class="mb-2 btn btn-custom">مرشح رذاذ البنزين</a>
                    <a href="#" class="mb-2 btn btn-custom">فلتر الزيت الخلفي</a>
                    <a href="#" class="mb-2 btn btn-custom2">+2</a>
                </div>
            </div>

        </div>
    </div>

<!--|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||-->

<%- include("../inclueds/footer")  %>
<%- include("../inclueds/footer_script")  %>
</body>
    